/* ##### ##### ##### LAYOUT ##### ##### ##### */
html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: url("../images/background_recycled_paper.jpg");
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

/* ---------- HEADER ---------- */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu {
  width: 100%;
  min-height: 40px;
  background-color: #30292B;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#menu>ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}

#menu>ul>li {
  padding: 0px 14px 0px 14px;
}

#menu>ul>li>a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: #F7F1EC;
}

#menu>ul>li>a:hover {
  color: #54CF8C;
}

#admin_link{
  border: solid 1px white;
}

#title_box {
  width: 55%;
  min-height: 130px;
  background: url("../images/title_img.png");
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #F7F1EC;
  margin-top: 15px;
}

/* ---------- GENERAL BODY ---------- */

#main {
	margin: 25px 0 0 0;
	padding: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
			flex-flow: row;
  /*border: solid 1px;*/
}

#main>article {
	padding: 20px;
	-webkit-flex: 55%;
			flex: 55%;
	-webkit-order: 2;
			order: 2;
  background-color: #F7F1EC;
  /*border: solid 1px;*/
}

#left {
	-webkit-flex: 22.5%;
			flex: 22.5%;
	-webkit-order: 1;
			order: 1;
  /*border: solid 1px;*/
}

#right {
	-webkit-flex: 22.5%;
			flex: 22.5%;
	-webkit-order: 3;
	order: 3;
  /*border: solid 1px;*/
}

/* ##### ##### ##### FORM ##### ##### ##### */

form {
  width: 30%;
	left: 40%;
  font-size: 1em;
	font-weight: bold;
  display: inline-block;
}

form input#name,
form input#email,
form input#subject {
  width: 300px;
  border-radius: 3px;
  border: 1px solid #30292B;
  font-size: 1em;
	display: block;
}

form textarea#message {
  width: 400px;
 	height: 100px;
  border-radius: 3px;
 	border: 1px solid #30292B;
	margin-bottom: 10px;
	padding: 5px;
	font-size: 1.1em;
	display: block;
}

form input#submit {
  display: block;
  border-radius: 3px;
  border: 1px solid #30292B;
	padding: 10px;
  font-weight: bold;
	text-align: center;
  color: #000000;
	background-color: #f4f4f4;
}

form input#submit:hover{
  cursor: pointer;
	border: 1px solid #c1c1c1;
	background-color: #BABABA;
}
