{% extends 'skeleton_index.html' %}

{% block body %}

  <h2>Herbarium</h2>

  <div>

      <ul>
      {% with flash_messages = get_flashed_messages() %}
          {% for m in flash_messages %}
              <li>{{ m }}</li>
          {% endfor %}
      {% endwith %}
      </ul>

  </div>


{% endblock %}
