{% extends 'skeleton_index.html' %}

{% block body %}

  <h2>Home page</h2>
  
  <div>

      <ul>
      {% with flash_messages = get_flashed_messages() %}
          {% for m in flash_messages %}
              <li>{{ m }}</li>
          {% endfor %}
      {% endwith %}
      </ul>

  </div>


  Dernier Update: 12/05

  <p>Fonctionne:</p>
  <p>   - Formulaire de contact</p>
  <p>   - Login admin</p>
  <p>   - Ajout préparation</p>
  <p>   - Visualisation liste préparation</p>
  <p>   - modification/suppresion préparation</p>
  <p>   - ajout/modification/suppression de vignette pour les préparations</p>
  <p>   - Ajout d'image via Tinymce</p>
  <p>   - parser l'html a la suppression des prepa pour effacer les images...</p>
  <p>TODO:</p>
  <p>   - Visualisation préparation</p>
  <p>   - Création formulaire + table db pour herbier</p>
  <p>   - Création formulaire + table db pour article</p>
  <p>   - Visualisation + gestion herbier</p>
  <p>   - Visualisation + gestion article</p>
  <p>   - Onglet "média" pour voir/géré les images qui sont sur le srv</p>

  <h2>Just for Maka ! :p</h2>

  Last Update: 12/05

  <p>Work fine:</p>
  <p>   - Contact Form</p>
  <p>   - Login admin</p>
  <p>   - Add preparation</p>
  <p>   - See preparation list</p>
  <p>   - modify/delete preparation</p>
  <p>   - add/modify/del preparations thumbnails</p>
  <p>   - Add images with Tinymce</p>
  <p>   - parse html to find and del all images at the same time as the preparation</p>
  <p>TODO:</p>
  <p>   - preparation viewing</p>
  <p>   - Form creation + table db for herbarium</p>
  <p>   - Form creation + table db for article</p>
  <p>   - Herbarium managment + Viewing</p>
  <p>   - Article managment + Viewing</p>
  <p>   - Some media things to see/manage all the images that are on the srv</p>

  <p>check/change uploaded files name (with tinymce) are in "includes/tinymce" n' upload.php </p>

{% endblock %}
