{% extends 'skeleton_index.html' %}



{% block body %}

  <div>

      <ul>
      {% with flash_messages = get_flashed_messages() %}
          {% for m in flash_messages %}
              <li>{{ m }}</li>
          {% endfor %}
      {% endwith %}
      </ul>

  </div>

  <form action="/log/" method="POST">

      {{ form.login.label }}
      {{ form.login }}
    <br />
      {{ form.password.label }}
      {{ form.password }}
    <br />
      {{ form.submit }}
    </form>

{% endblock %}
