{% extends 'skeleton_index.html' %}

{% block body %}

  <h2>Contact</h2>

  <div>

      <ul>
      {% with flash_messages = get_flashed_messages() %}
          {% for m in flash_messages %}
              <li>{{ m }}</li>
          {% endfor %}
      {% endwith %}
      </ul>

  </div>

  <p>Si vous avez un bug à soumettre, une envie d'aider, une suggestion ou autre, c'est par ici.</p>
  <form id="contact" action="/contact/" method="POST">
      {{ form.name.label }}
      {{ form.name }}
  <br />
      {{ form.email.label }}
      {{ form.email }}
  <br />
      {{ form.subject.label }}
      {{ form.subject }}
  <br />
      {{ form.message.label }}
      {{ form.message }}
  <br />
      {{ form.submit }}
    </form>


{% endblock %}
