<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
  <header>
    <nav id="menu">
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/article">Articles</a></li>
        <li><a href="/herbarium">Herbier</a></li>
        <li><a href="/preparation">Préparation</a></li>
        <li><a href="/about">A propos</a></li>
        <li><a href="/contact">Contact</a></li>
        <li id="admin_link"><a href="/back">Admin</a></li>
      </ul>
    </nav>

    <div id="title_box">
      <h1>-- L'herbotique --</h1>
    </div>

  </header>

  <div id="main">
    <aside id="left">
      {% block left %}
      {% endblock %}
    </aside>
    <article>
      {% block body %}
      {% endblock %}
    </article>
      {% block right %}
      {% endblock %}
    <aside id="right">
    </aside>
  </div>

{% block footer %}
{% endblock %}

</body>
</html>
